### Jekyll
.jekyll
.jekyll-metadata
.jekyll-cache
.bundle
.sass-cache
_site
generated/
.mastro/
.mastro-cache/

### Node
node_modules/

### Tests
test-results/
playwright-report/

### Ruby
Gemfile
Gemfile.lock

### Rubyenv
.ruby-version

### MacOS
.DS_Store

### IDEA template
.idea
